<div class="uiux-content">
  <div class="uiux-content__info" *ngFor="let title of Title">
    <div class="content__title">
      <p>{{ title.title }}</p>
    </div>
    <div class="content__discription">
      <p>{{ title.discription }}</p>
    </div>
  </div>

  <div class="uiux-grid">
    <a class="uiux-card" *ngFor="let content of uiuxcontent" [routerLink]="content.routerLink">
      <img [src]="content.src" [alt]="content.alt" />
      <div class="uiux-card__body">
        <h3>{{ content.title }}</h3>
        <p class="desc">{{ content.subtitle }}</p>
        <p class="tags">{{ content.app }}</p>

      </div>
      <div class="uiux-card__footer">
        <p>{{ content.presentation }}</p>
        <p class="currency">{{content.currency}} {{content.price}}</p>
      </div>
    </a>
  </div>
</div>
