<div class="title-content" *ngFor="let item of RealeasDb">
  <div class="main-content__banner">
    <div class="banner__img">
      <img [src]="item.srcImg" [alt]="item.title" />
    </div>

    <div class="content-banner__text">
      <div class="banner__subtext">
        <p>{{ item.subtext }}</p>
      </div>

      <div class="banner__title">
        <h1>{{ item.title }}</h1>
      </div>

      <div class="banner__author">
        <p>Author: {{ item.subtitle }}</p>
      </div>

      <div class="buttonslink">
        <a [href]="item.link" target="_blank">
          {{ item.linkInfo }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="sub-content">
  <app-releases></app-releases>
</div>

<div class="main-content">
  <app-homeart></app-homeart>
</div>
