<div class="wrapper">
  <header class="header">
    <div class="header__inner">
      <a routerLink="home" class="logo">
        <img src="assets/logo.png" alt="Logo" class="icon-logo">
      </a>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />

      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
      <nav class="nav">
        <ul>
          <li>
            <a routerLink="uiux" routerLinkActive="active">UI & UX</a>
          </li>
          <li>
            <a routerLink="illustrations" routerLinkActive="active">Illustrations</a>
          </li>
          <li>
            <a routerLink="motiondesign" routerLinkActive="active">Motion Design</a>
          </li>
          <li>
            <a routerLink="gamedesign" routerLinkActive="active">Game Design</a>
          </li>
          <li>
            <a routerLink="webdevelopment" routerLinkActive="active">Web Development</a>
          </li>

          <li class="nav__line" aria-hidden="true"></li>

          <li>
            <a routerLink="Our-team" routerLinkActive="active">Our Team</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
