<div class="sub-content__flexible">
  <div class="flexible__title">
    <p>Latest releases</p>
  </div>

  <div class="flexible__content">
    <div class="item" *ngFor="let content of releaseDB">
      <a href="" class="item__link">
        <div class="item__img">
          <img
            [src]="content.src"
            [attr.alt]="content.alt || content.title"
          >
        </div>

        <div class="item__text">
          <div class="text__title">
            <p>{{ content.title }}</p>
          </div>
          <div class="text_author">
            <p>{{ content.author }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
