<div class="sub-content__flexible">
    <div class="flexible__title">
      <p>Latest releases</p>
    </div>
    <div class="flexible__content">
      <a style="display: block;" href="">
        <div class="item">
          <div class="item__img">
            <img src="../../../assets/img/Concept search.jpg" alt="Big collection Illustration of Concept searches">
          </div>
          <div class="item__text">
            <div class="text__title">
              Big collection Illustration of Concept searches
            </div>
            <div class="text_author">
              Krushko Nikita
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../../../assets/img/Knits.jpg" alt="Big collection of paid beautiful and colorful illustrations">
          </div>
          <div class="item__text">
            <div class="text__title">
              Big collection of paid beautiful and colorful illustrations
            </div>
            <div class="text_author">
              Krushko Nikita
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../assets/img/20 funny and carefully-designed scenes in a cartoon style.png" alt="20 funny and carefully-designed scenes in a cartoon style">
          </div>
          <div class="item__text">
            <div class="text__title">
              20 funny and carefully-designed scenes in a cartoon style
            </div>
            <div class="text_author">
              FelixTrex
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../../../assets/img/In touch.jpg" alt="Large collection of paid minimalistic illustrations">
          </div>
          <div class="item__text">
            <div class="text__title">
              Big collection of paid minimalistic illustrations
            </div>
            <div class="text_author">
              Krushko Nikita
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../../../assets/img/Social Media.jpg" alt="Big collection of paid colorful Social Media Illustration">
          </div>
          <div class="item__text">
            <div class="text__title">
              Big collection of paid colorful Social Media Illustration
            </div>
            <div class="text_author">
              Krushko Nikita
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../assets/img/Big collection of Business Card Mockups.jpg" alt="Big collection of Business Card Mockups">
          </div>
          <div class="item__text">
            <div class="text__title">
              Big collection of Business Card Mockups
            </div>
            <div class="text_author">
              Author
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../assets/img/Free Wall Sign Mockup.jpg" alt="Free Wall Sign Mockup">
          </div>
          <div class="item__text">
            <div class="text__title">
              Free Wall Sign Mockup
            </div>
            <div class="text_author">
              FelixTrex
            </div>
          </div>
        </div>
      </a>
      <a href="" style="display: block;">
        <div class="item">
          <div class="item__img">
            <img src="../assets/img/UI Illustrations.jpg" alt="UI Illustrations">
          </div>
          <div class="item__text">
            <div class="text__title">
              UI Illustrations
            </div>
            <div class="text_author">
              Author
            </div>
          </div>
        </div>
      </a>
    </div>