
<div class="content__flex" >
    <div class="flex__title">
      <p>Our Team</p>
    </div>
    <nav>
        <app-slider></app-slider>
    </nav>
</div>
<router-outlet></router-outlet>




      <!-- <div class="content__item" *ngFor="let slide of slides">
        <a routerLink="NikitaKrushko">
          <div class="content-item__img">
            <img [src]="slide.NikitaKrushko" alt="Krushko Nikita">
          </div>
          <div class="item__disc">
            <div class="role">
              <p>Head Illustrator</p>
            </div>
            <div class="disc__title">
              <p>Krushko Nikita</p>
            </div>
            <div class="disc__text">
              <p>One of the most popular creators of vector illustrations in Europe.</p>
            </div>
          </div>  
        </a>
      </div>

      
    <div class="flex-author" *ngFor="let slide of slider">
      <nav >
        <div class="content__item">
            <a routerLink="{{slide.routerLink}}">
              <div class="content-item__img">
                <img [src]="slide.src" alt="Wrincied">
              </div>        
              <div class="item__disc">
                <div class="role">
                  <p>{{slide.role}}</p>
                </div>
                <div class="disc__title">
                  <p>{{slide.name}}</p>
                </div>
                <div class="disc__text">
                  <p>{{slide.text}}</p>
                </div>
              </div>
            </a>
        </div>
      </nav>
    </div>  




    <div class="content__item" *ngFor="let slide of slides">
      <a routerLink="FelixTrex">
        <div class="content-item__img">
          <img src="../../../assets/img/creator-models.jpg" alt="FelixTrex">
        </div>
        <div class="item__disc">
          <div class="role">
            <p>Head Game Designer</p>
          </div>
          <div class="disc__title">
            <p>FelixTrex</p>
          </div>
          <div class="disc__text">
            <p>One of the most popular creators of 3D Models in Europe.</p>
          </div>
        </div>
      </a>
    </div>




    <div class="content__item" >
      <a routerLink="Aventader">
        <div class="content-item__img">
          <img src="../../../assets/img/developer-unity.jpg" alt="Aventader">
        </div>
        <div class="item__disc">
          <div class="role">
            <p>Head Developer</p>
          </div>
          <div class="disc__title">
            <p>Aventader</p>
          </div>
          <div class="disc__text">
            <p>One of the most popular developers of creating Game in the Europe.</p>
          </div>
        </div>
      </a>
    </div> -->

  <!-- <a routerLink="/err" style="display: block;" >
    <div class="content__item">
      <div class="content-item__img">
        <img src="../../../assets/img/User.png" alt="Antony">
      </div>
      <div class="item__disc">
        <div class="disc__title">
          <p>Antony</p>
        </div>
        <div class="disc__text">
          <p>One of the most popular Motion Designer in the Europe</p>
        </div>
      </div>
    </div>
  </a>   -->
